Debug

Release

/Server/_build/build.log

/Server/_version/versionflag.cs
/Server/_version/versiongen.cs

/Server/binaries

/Server/setup/ready

/Server/vreserver.suo

*.user
/Clients/CS-projects/CoreClasses/*.ump
gwt-unitCache
symbolMaps
classes
deploy
/Clients/VREstate/war/WEB-INF/deploy/vrestate/symbolMaps/*.symbolMap
/Clients/VREstate/war/vrestate/*.js
/Clients/VREstate/war/vrestate/*.png
/Clients/VREstate/war/vrestate/*.html
/Clients/VREstate/war/vrestate/*.gif
/Clients/VREstate/war/vrestate/gwt/clean/*.css
/Clients/VREstate/war/vrestate/gwt/clean/*.css
bin
/Clients/VREstate/war/WEB-INF/classes/com/condox/vrestate/client/*.class
/Clients/VREstate/war/WEB-INF/classes/com/condox/vrestate/client/document/*.class
/Clients/VREstate/war/WEB-INF/classes/com/condox/vrestate/client/view/*.class
/Clients/VREstate/war/WEB-INF/classes/com/condox/vrestate/client/view/Camera/*.class
/Clients/VREstate/war/WEB-INF/classes/com/condox/vrestate/client/view/GeoItems/*.class
/Clients/VREstate/war/WEB-INF/classes/com/condox/vrestate/client/filter/*.class
/Clients/VREstate/war/WEB-INF/classes/com/condox/vrestate/client/ge/*.class
/Clients/VREstate/war/WEB-INF/classes/com/condox/vrestate/client/interactor/*.class
classes
/Clients/VREstate/war/vrestate/*.cache.html
/Clients/VREstate/war/vrestate/*.cache.png
/Clients/VREstate/war/vrestate/*.cache.gif
/Clients/VREstate/war/vrestate/vrestate.nocache.js
/Clients/VREstate/.gwt/.gwt-log
/Clients/VREstate/.gwt
/Clients/VREstate/war/vrestate/vrestate.nocache.js
/Clients/VREstate/war/templates/images/Thumbs.db
/Clients/VREstate/war/vrestate/gwt
/Clients/VREstate/war/WEB-INF/classes/com/condox/vrestate/VREstate.gwt.xml
/Clients/VREstate/war/WEB-INF/lib/*.jar
/Clients/VREstate/war/vrestate/vrestate.nocache.js
/Clients/VREstate/war/vrestate/clear.cache.gif
/Clients/VREstate/war/vrestate/*.png
/Clients/VREstate/war/vrestate/js
/Clients/VREstate/war/templates/*.html
/Clients/VREstate/war/templates/*.js
/Clients/Orders/war/WEB-INF/deploy
classes
/Clients/Orders/.gwt/.gwt-log
/Clients/ClientShared/.gwt
/Clients/Order/.gwt
/Clients/RtcWeb/WebRtcDemo/war/
