<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsoleSales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsoleSales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <ConsoleSales.Properties.Settings>
        <setting name="StartOnSecondaryMonitor" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ImportFromPath" serializeAs="String">
          <value>\\KEYWEST-SRV\Users\sales4\Desktop\ConsoleSales</value>
        </setting>
        <setting name="ExportToPath" serializeAs="String">
          <value>\\KEYWEST-SRV\Users\sales4\Desktop\ConsoleSales</value>
        </setting>
        <setting name="UseOnScreenKeyboard" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="serverRequestTimeoutSec" serializeAs="String">
          <value>15</value>
        </setting>
        <setting name="serverEndPoint" serializeAs="String">
          <value>https://vrt.3dcondox.com/vre/</value>
        </setting>
        <setting name="DeveloperName" serializeAs="String">
          <value>Times Group</value>
        </setting>
        <setting name="DeveloperId" serializeAs="String">
          <value>1</value>
        </setting>
      </ConsoleSales.Properties.Settings>
    </applicationSettings>
    <userSettings>
      <ConsoleSales.Properties.Settings>
        <setting name="clientLogin" serializeAs="String">
          <value>adminan</value>
        </setting>
        <setting name="clientPassword" serializeAs="String">
          <value>smelatoronto</value>
        </setting>
        <setting name="role" serializeAs="String">
          <value>superadmin</value>
        </setting>
      </ConsoleSales.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
