<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsoleSales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsoleSales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <ConsoleSales.Properties.Settings>
        <setting name="StartOnSecondaryMonitor" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="UseOnScreenKeyboard" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="serverRequestTimeoutSec" serializeAs="String">
          <value>15</value>
        </setting>
        <setting name="serverEndPoint" serializeAs="String">
          <value>https://vrt.3dcondox.com/</value>
        </setting>
        <setting name="ImportFromPath" serializeAs="String">
          <value>C:\Internet Downloads\Business\YIT\Sites\Екатеринбург\Рифей</value>
        </setting>
        <setting name="ExportToPath" serializeAs="String">
          <value>C:\Internet Downloads\Business\YIT\Sites\Екатеринбург\Рифей</value>
        </setting>
        <setting name="DeveloperName" serializeAs="String">
          <value>YIT-Rifey</value>
        </setting>
        <setting name="DeveloperId" serializeAs="String">
          <value>11</value>
        </setting>
        <setting name="FtpServer" serializeAs="String">
          <value>ftp://213.33.245.89</value>
        </setting>
        <setting name="FtpLogin" serializeAs="String">
          <value>ftp-3dkiosk</value>
        </setting>
        <setting name="FtpPassword" serializeAs="String">
          <value>Lopata38</value>
        </setting>
        <setting name="FtpFile" serializeAs="String">
          <value>/Russia/Krasnogorsk/YITPark/import.csv</value>
        </setting>
      </ConsoleSales.Properties.Settings>
    </applicationSettings>
    <userSettings>
      <ConsoleSales.Properties.Settings>
        <setting name="role" serializeAs="String">
          <value>superadmin</value>
        </setting>
        <setting name="clientLogin" serializeAs="String">
          <value>adminan</value>
        </setting>
        <setting name="clientPassword" serializeAs="String">
          <value>smelatoronto</value>
        </setting>
      </ConsoleSales.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
