@CHARSET "ISO-8859-1";
/* VRT setup (coords, size, etc.)*/
.VRT_Visible {
	width: 100%;
	height: 800px;
	border: solid 1px black;
	display: block;
}
/* Don't edit width, height, border, frameborder.  */
.VRT_Hidden {
	width: 1px;
	height: 1px;
	border: none;
	frameborder: 0;
	display: block;
}


/* Only for demo page */
.FALSE {
	background-color: green; 
	width: 150px;
}

.TRUE {
	background-color: red; 
	width: 150px;
}