<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPal_Merchant_SDK" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SuperAdminConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SuperAdminConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SuperAdminConsole.Properties.Settings>
      <setting name="clientLogin" serializeAs="String">
        <value>adminan</value>
      </setting>
      <setting name="clientPassword" serializeAs="String">
        <value>smelatoronto</value>
      </setting>
    </SuperAdminConsole.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SuperAdminConsole.Properties.Settings>
      <setting name="emailFrom" serializeAs="String">
        <value>ecommerce@3dcondox.com</value>
      </setting>
      <setting name="emailPwd" serializeAs="String">
        <value>kharkov141159</value>
      </setting>
      <setting name="serverRequestTimeoutSec" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="PriceOf3DListing" serializeAs="String">
        <value>49.99</value>
      </setting>
      <setting name="SalesTaxValuePercent" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="ChangeViewOrderOptionsFee" serializeAs="String">
        <value>9.99</value>
      </setting>
      <setting name="orderConfirmationTemplate" serializeAs="String">
        <value>PLEASE DO NOT REPLY TO THIS MESSAGE.

Dear {0},
Thank you for ordering from 3D Condo Explorer Inc!

Here are your order details:
---------------------------
    Order Number: {1}
    Order Date: {2} 
    {10} Address:
        {3}

Options (to change call Customer Support 1-855-332-6630 ext.2):
    Inside the Unit: {4}
    
You cannot change address of the Interactive 3D Listing, but other options can be changed
at any time

Interactive 3D Listing URL:
    {5}
    Please copy-paste this link to use in your MLS listing.

(Note: this Interactive 3D Listing will be valid for {6} days. You can extend this term any time,
as many times as you want free of charge - by calling Customer Support 1-855-332-6630 ext.2).

Price:    ${7:00.00}
HST:      ${8:00.00}
-------------------
Total:    ${9:00.00}


We hope you enjoy your purchase!

Sincerely, 

The 3D Condo Explorer Sales Team</value>
      </setting>
      <setting name="serverEndPoint" serializeAs="String">
        <value>https://vrt.3dcondox.com/vre/</value>
      </setting>
      <setting name="defaultDaysValidTemp" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="defaultDaysValidPermanent" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="the300charsTemplate" serializeAs="String">
        <value>We created Interactive 3D Listing for this property:
{0}
It is free, just try it!
This link will die in {1} days. If you want to keep it, send email to sales@3DcondoX.com.  
For more info see http://youtu.be/byMQRkqmFmU
  Thanks, 3dcondox.com
</value>
      </setting>
      <setting name="listingPromoTemplate" serializeAs="String">
        <value>Dear {0},

I noticed that you posted an MLS listing {7}for the following property:

    {1}

Let me introduce "{9}(TM)" - new Google Earth-based 3D Virtual Tour. 
This is a new, exciting and breathtaking 3D Virtual Tour, that will grab everyone.

Try it right now, it is free for you - just click this link:

{2}

   ... or if hesitating - check first this video (http://youtu.be/byMQRkqmFmU).

Did you watch / try it?

Yes, this is completely NEW product - you never saw anything like this before!
This is a new way how to present a real estate! 
And we give it to you FOR FREE (value of ${3:00.00} - our gift for you) - use it now!
You can post this link with your MLS record - just like a regular virtual tour.
Or/and you can email it to your prospects - it is extremely informational, presenting 100%
accurate out-of-window view.

Where is the catch? No catch! This is a promotional action of the 3D Condo Explorer Inc.

ONLY ONE THING - PLEASE READ THIS: This Interactive 3D Listing(TM) link is temporary, 
if you do nothing, it'll automatically die in {4} days (i.e. after {5} 
it will stop working). 
So, IF YOU WANT TO KEEP IT, PLEASE COPY THIS MESSAGE AND SEND IT TO sales@3DcondoX.com.

If you want more info, call us at:
    1-855-332-6630 (1-855-3d cond0) ext.2 ("Sales and Marketing"), 9AM-5PM weekdays
        ... or ...
    email your questions to sales@3DcondoX.com

We are glad to help you with your highly competitive and challenging business.

Yours,
{8}
{6}</value>
      </setting>
      <setting name="defaultSignature" serializeAs="String">
        <value>3D Condo Explorer team
www.3dcondox.com
sales@3DcondoX.com
1-855-332-6630 x.2
</value>
      </setting>
      <setting name="defaultPromoSubject" serializeAs="String">
        <value>Check this out - new 3D Virtual Tour, and free!</value>
      </setting>
    </SuperAdminConsole.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!-- PayPal SDK config -->
  <paypal>
    <settings>
      <!-- The URL that the user must be redirected to in order to login and approve some payment actions
      <add name="paypalUrl" value="https://www.paypal.com/webscr?cmd="/>
      -->
      <add name="paypalUrl" value="https://www.sandbox.paypal.com/webscr?cmd=" />
      <!-- The API endpoint
      <add name="endpoint" value="https://api-3t.paypal.com/2.0"/>
      -->
      <add name="endpoint" value="https://api-3t.sandbox.paypal.com/2.0" />
      <!-- Connection timeout in milliseconds -->
      <add name="connectionTimeout" value="360000" />
      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <add name="requestRetries" value="3" />
      <add name="binding" value="SOAP" />
      <add name="IPAddress" value="127.0.0.1" />
    </settings>
    <accounts>
      <!--
        Add API credentials - 3 token or client certificate.
        You can add multiple account credentials here. The SDK will pick the first account
        unless you specifically request an account in the service wrapper mehod.
        *Signature Subject is optional
        *Certificate Subject is optional
      -->
      <account apiUsername="ecommerce_api1.3dcondox.com" apiPassword="3ED7QXQQ6KBCDQJ3" apiSignature="A4PUNbaDt9fSNNDrFl.ZCXeI31rAAvEjKldLAQ0qa2GSjToNlAIk-HXh" applicationId="3DCONDOX-INTERACTIVE" certificateSubject="" signatureSubject="" />
      <!--
      <account apiUsername="pro_1351172575_biz_api1.3dcondox.com" apiPassword="1351172631" apiSignature="ANnTLmn805uf8uHUT4hHFFWQ0NoWA0WjkxgI88gpQImyqfxe1cr470cM" applicationId="APP-80W284485P519543T" certificateSubject="" signatureSubject=""/>
       -->
    </accounts>
  </paypal>
  <system.web>
    <compilation targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>