<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <alias name="EdenPark" uri="https://vrt.3dcondox.com:8082/vre/VREstate.html?DeveloperId=1&amp;SiteId=4&amp;UseFilter=false&amp;ShowSoldStatus=true&amp;uid=admin" />
  <alias name="KeyWest" uri="https://vrt.3dcondox.com:8082/vre/VREstate.html?DeveloperId=1&amp;SiteId=5&amp;UseFilter=false&amp;ShowSoldStatus=true&amp;uid=admin" />
  <alias name="TheVue" uri="https://vrt.3dcondox.com:8082/vre/VREstate.html?DeveloperId=2&amp;SiteId=7&amp;UseFilter=false&amp;ShowSoldStatus=true&amp;uid=admin" />
  <alias name="LondonEye" uri="https://vrt.3dcondox.com:8082/vre/VREstate.html?DeveloperId=4&amp;SiteId=8&amp;UseFilter=false&amp;ShowSoldStatus=true&amp;uid=admin" />
</configuration>