<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="ServiceName" value="VreServer"/>
    <add key="ConnectionString" value="Server=.\SQLExpress;Database=VR;User ID=vr;Password=vr2010"/>
    <add key="HashType" value="SHA512"/>
    <add key="SaltSizeBytes" value="64"/>
    <add key="MinAccessPeriodSec" value="30"/>
    <add key="AccessCleanupTimeoutSec" value="600"/>
    <add key="ClientSessionTimeoutSec" value="600"/>

    <add key="HttpListenerUri" value="http://+:8026/vre/"/>
    <add key="HttpListenerHostList" value="localhost"/>
    <!-- add key="HttpListenerHostList" value="port443tp"/ -->

    <add key="FilesRoot" value="C:\Documents and Settings\port443\My Documents\VR\trunk\"/>
    <add key="FileStreamingBufferSize" value="16384"/>
    <add key="AllowedServedFileExtensions" value="htm,html,css,xml,txt,gif,jpg,jpeg,png,js,kml,kmz"/>
    <add key="ModelFileStore" value="C:\Documents and Settings\port443\My Documents\VR\models\"/>
    <add key="CacheRoot" value="C:\Documents and Settings\port443\My Documents\VR\cache"/>
    <add key="MinCachedImagekPx" value="40"/>
    <add key="CacheSpaceLimitMb" value="10"/>
    <add key="MaxGeneratedImagekPx" value="600"/>
  </appSettings>

  <nlog>
    <targets>
      <!-- http://nlog-project.org/wiki/Layout_renderers -->
      <target name="f1" type="File" fileName="${basedir}/vre.server.log.txt" 
              layout="${longdate}|${level:uppercase=true}|${threadid}|${message}"
              archiveAboveSize="8192"/>
      <!-- layout="${longdate}|${level:uppercase=true}|${logger}|${message}" -->
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" writeTo="f1" final="true" />
    </rules>
  </nlog>

  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="VreServiceBehavior" name="Vre.Server.BusinessLogic.UserInterface">        
        <endpoint address="" contract="Vre.Server.BusinessLogic.IUser"
          binding="wsHttpBinding" bindingName="httpWithMessageSecurity"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/vre/vis" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="VreServiceBehavior" name="Vre.Server.BusinessLogic.BuyerInterface">
        <endpoint address="" binding="wsHttpBinding" contract="Vre.Server.BusinessLogic.IBuyer" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/vre/buy" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="VreServiceBehavior" name="Vre.Server.BusinessLogic.SubcontractorInterface">
        <endpoint address="" binding="wsHttpBinding" contract="Vre.Server.BusinessLogic.ISubcontractor" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/vre/sub" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="VreServiceBehavior" name="Vre.Server.BusinessLogic.SalespersonInterface">
        <endpoint address="" binding="wsHttpBinding" contract="Vre.Server.BusinessLogic.ISalesperson" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/vre/sal" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="VreServiceBehavior" name="Vre.Server.BusinessLogic.DeveloperAdminInterface">
        <endpoint address="" binding="wsHttpBinding" contract="Vre.Server.BusinessLogic.IDeveloperAdmin" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/vre/dad" />
          </baseAddresses>
        </host>
      </service>

      <!--
      <service behaviorConfiguration="VreServiceBehavior" name="Vre.Server.BusinessLogic.UserInterface">

        <endpoint address="" binding="wsHttpBinding" contract="Vre.Server.BusinessLogic.IUser" />
        <endpoint address="" binding="wsHttpBinding" contract="Vre.Server.BusinessLogic.IBuyer" />
        <endpoint address="" binding="wsHttpBinding" contract="Vre.Server.BusinessLogic.ISubcontractor" />
        <endpoint address="" binding="wsHttpBinding" contract="Vre.Server.BusinessLogic.ISalesperson" />
        <endpoint address="" binding="wsHttpBinding" contract="Vre.Server.BusinessLogic.IDeveloperAdmin" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/vre/auth" />
          </baseAddresses>
        </host>
      </service>
      -->
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding">
          <security mode="Message">
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="tcpWithMessageSecurity">
          <security mode="Message" >
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="VreServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/> <!-- TODO: Turn this to False for release -->
          <serviceThrottling maxConcurrentCalls="10" maxConcurrentInstances="10" maxConcurrentSessions="10"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <startup>    
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
